.topNavBar {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    background: #6e6e6e;
    margin-bottom: 2px;
    height: 20px;

    transition: opacity 200ms ease-in;

    color: #ffffff;
}

.show {
    opacity: 1;
}