.cardCountContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardCountItem {
    height: 50px;
    width: 50px;
}

.cardTypeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTypeText {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.champPfpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.champPfpOverlayContainer {
    display: flex;
    justify-content: center;
}

.champPfp {
    padding: 8px;
    width: 80px;
    height: auto;
}

.champOverlay {
    position: absolute;
    width: 84px;
    height: auto;
    top: 0;
    left: 0;
    padding: 6px;
}

.champNotFoundName {
    position: absolute;
    top: 25px;
    color: #504733;
    font-size: 15px;
}