.topNavBar {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    justify-items: center;
    align-items: center;
    
    padding: 4px;
    background: #6e6e6e;
    margin-bottom: 2px;
    height: 20px;

    color: #ffffff;

    position: sticky;
    top: 0;
    z-index: 1;
}