.topNavBar {    
    padding: 4px;
    height: 32px;

    color: #ffffff;

    position: sticky;
    top: 0;
    z-index: 1;

    display: grid;
    grid-template-columns: 32px 1fr 32px;
    justify-items: center;
    align-items: center;

    background-image: url(../../images/BG_Menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #6e6e6e;
}

.chevronContainer {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.available {
    cursor: pointer;
}

.navStateText {
    font-size: 14px;
}