.recordContainer {
    height: 70px;
    padding: 4px;

    display: grid;
    grid-template-columns: 84px 74px 102px 1fr;

    align-items: center;
    margin-bottom: 4px;

    border: 1px solid #cdd2d2;
    border-radius: 4px;
    box-sizing: border-box;

    cursor: pointer;
}

.recordContainer:active {
    transform: scale(0.98, 0.98) !important;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.3em;
}

.playerWon {
    background-color: #87C4FC;
    border-color: #3055AD;
}

.playerLost {
    background-color: #FFB0BE;
    border-color: #B13F5E;
}

.probableError {
    cursor: help;
    background-color: #A9A9A9;
    border-color: #696969;
    opacity: 0.3;
}

.inProgress {
    background-color: #F3C25A;
    border-color: #8B6A2C;
}

.playerWon .resultsContainer {
    color: #1a78ae;
}

.playerLost .resultsContainer {
    color: #c6443e;
}

.bar {
    width: 45px;
    margin: 4px;
    height: 2px;
    background: #504733;
}

.timeSinceGame {
    cursor: help;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.factionsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opponentContainer {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opponentName {
    word-wrap: break-word;
    width: 82px;
    text-align: center;
}