.recordContainer {
    height: 70px;
    padding: 4px;

    display: grid;
    grid-template-columns: 84px 74px 1fr;

    align-items: center;
    margin-bottom: 4px;

    border: 1px solid #cdd2d2;
    border-radius: 4px;
    box-sizing: border-box;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.3em;
}

.playerWon {
    background-color: #a3cfec;
    border-color: #99b9cf;
}

.playerLost {
    background-color: #e2b6b3;
    border-color: #cea7a7;
}

.probableError {
    cursor: help;
    background-color: #eaeaea;
    opacity: 0.3;
}

.inProgress {
    background-color: #F2D230;
    border-color: #F2C029;
}

.playerWon .resultsContainer {
    color: #1a78ae;
}

.playerLost .resultsContainer {
    color: #c6443e;
}

.bar {
    width: 45px;
    margin: 4px;
    height: 2px;
    background: #cea7a7;
}

.timeSinceGame {
    cursor: help;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.factionsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}