@font-face {
    font-family: 'Univers-Roman';
    src: local('Univers-Roman'), url('../../fonts/UniversLTCYR-55Roman.otf') format('opentype');
}

@font-face {
    font-family: 'Beaufort for LOL Bold';
    src: local('Beaufort for LOL Bold'), url('../../fonts/Beaufort for LOL Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Beaufort for LOL Regular';
    src: local('Beaufort for LOL Regular'), url('../../fonts/BeaufortforLOL-Regular.otf') format('opentype');
}

body {
    margin: 0;
    font-family: "Roboto";
    font-size: 12px;
    color: #232127;
    background-color: #F7F7F8;
}

#root {
    height: 100%;
}

.light-theme{
    color: #232127;
    background-color: #F7F7F8;
}

.dark-theme{
    color: #232127;
    background-color: #201c2b;
}