@font-face {
    font-family: 'Beaufort for LOL Bold';
    src: local('Beaufort for LOL Bold'), url('../../fonts/Beaufort for LOL Bold.ttf') format('truetype');
}

body {
    height: 500px;
    width: 318px;
    margin: 0;
    font-family: "Roboto";
    font-size: 12px;
    color: #555555;
}

#root {
    height: 100%;
}

.App-light{
    color:red;
}

.App-dark{
    color:#e5e3e8;
}