.shareContainer {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.shareButton {
    width: 150px;
    height: 34px;
}

.shareContainer:active {
    transform: scale(0.95, 0.95);
}

.copyDeckText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    font-size: 14px;
    color: white;
    font-family: "Roboto";
}

.hiddenDeckCode {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.deckCode {
    width: 200px;
    text-align: center;
    word-wrap: break-word;
}