.singleRecordView {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 234px 1fr;
    grid-template-areas: ". recordContent .";

    color: #beaf90;
    font-family: 'Beaufort for LOL Regular', "Roboto";

}

.recordContent {
    grid-area: recordContent;
    display: grid;
    justify-items: center;
    grid-row-gap: 20px;
    padding: 4px 16px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vsInfo {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.vsButton {
    margin: 8px 0;
}