@font-face {
    font-family: 'Beaufort for LOL Regular';
    src: local('Beaufort for LOL Regular'), url('../../fonts/BeaufortforLOL-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Univers-Roman';
    src: local('Univers-Roman'), url('../../fonts/UniversLTCYR-55Roman.otf') format('opentype');
}


body {
    margin: 0;
}

.configTitle {
    font-size: 36px;
    margin: 0 0 24px 0;
}

.Config{
    font-family: 'Beaufort for LOL Regular', "Roboto";
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 30px;

    display: inline-flex;
    flex-direction: column;

    border: 2px solid #beaf90;
    box-sizing: border-box;
    border-radius: 4px;

    max-width: 700px;
}

.Config-light{
    color:#beaf90;
}

.Config-dark{
    color:#beaf90;
}

.appDownloadLink {
    color: #87C4FC;
    text-decoration: inherit;
}

.configTextContainer {
    display: flex;
    flex-direction: column;
}

.configSubtext {
    padding-top: 8px;
    font-size: 14px;
    padding-left: 40px;
    font-family: "Univers-Roman", "Roboto";
    letter-spacing: unset;
}

.supportHelpText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 100;
    font-size: 14px;
    font-family: "Univers-Roman", "Roboto";
    line-height: 1.3em;
}

.supportHelpEmail {
    color: #87C4FC;
}